{% extends 'base.template.html' %}

{% block content %}

<h1>Update Details for {{customer.last_name}}, {{customer.first_name}}</h1>
<form method="POST">
    <div>
        <label class="form-label">First Name</label>
        <input type="text" class="form-control" name="first_name" value="{{customer.first_name}}"/>
    </div>
    <div>
        <label class="form-label">Last Name</label>
        <input type="text" class="form-control" name="last_name" value="{{customer.last_name}}"/>
    </div>
    <div>
        <label class="form-label">Email</label>
        <input type="text" class="form-control" name="email" value="{{customer.email}}"/>
    </div>
    <div>
        <input type="checkbox" name="can_send" {%if customer.send_marketing_material%} checked {%endif%}/>
        <label class="form-label">Agree to receive marketing materials? </label>
    </div>
    <input type="submit" value="Update Details"/>
</form>

{% endblock %}